In [ ]:
# Data Dictionaries

    Key             value
"htanaka"     =  "Haru Tanaka"
"PPatel"      =  "Pyiya patal"
"Zmin"        =  "Zhang Min"
"hakackson"   =  "Hanna Jackson"
"Herry"       =  "Herry Potter"
"Peter"       =  "Peter Jeson"

  Key             value
"htanaka"     =  ["Haru Tanaka", 2000, 0, True]
"PPatel"      =  ["Pyiya patal", 2015, 1, False]
"Zmin"        =  ["Zhang Min", 2017, 2, False]
"hakackson"   =  ["Hanna Jackson", 2001, 11, True]
"Herry"       =  ["Herry Potter", 2011, 2, True]
"Peter"       =  ["Peter Jeson", 2018, 22, False]

In [3]:
#Creating a Data Dictionary

# name = {key:value, key:value, key:value, key:value, ...}

# name = {
#     key:value,
#     key:value,
#     key:value,
#     key:value,
#     ....
# }

people ={
    "htanaka": "Haru Tanaka",
    "PPatel": "Pyiya patal",
    "Zmin": "Zhang Min",
    "hakackson": "Hanna Jackson",
    "Herry": "Herry Potter",
    "Peter": "Peter Jeson"
}

print(people)
print()
print(people["Zmin"])

{'htanaka': 'Haru Tanaka', 'PPatel': 'Pyiya patal', 'Zmin': 'Zhang Min', 'hakackson': 'Hanna Jackson', 'Herry': 'Herry Potter', 'Peter': 'Peter Jeson'}

Zhang Min

In [4]:
# Getting the length of a dictionary

people ={
    "htanaka": "Haru Tanaka",
    "PPatel": "Pyiya patal",
    "Zmin": "Zhang Min",
    "hakackson": "Hanna Jackson",
    "Herry": "Herry Potter",
    "Peter": "Peter Jeson"
}

# Count the number of key:value pairs and put in a variable.
howMany = len(people)

print(howMany)

6

In [6]:
# Seeing whether a key exists in a dictionary

people ={
    "htanaka": "Haru Tanaka",
    "PPatel": "Pyiya patal",
    "Zmin": "Zhang Min",
    "hakackson": "Hanna Jackson",
    "Herry": "Herry Potter",
    "Peter": "Peter Jeson"
}

# Is there hakackson in the people dictionary?
print("hakackson" in people)

# Is there a schmeedorp in the people dictionary?
print("schmeedorp" in people)

True
False

In [7]:
# Getting dictionary data with get()

people ={
    "htanaka": "Haru Tanaka",
    "PPatel": "Pyiya patal",
    "Zmin": "Zhang Min",
    "hakackson": "Hanna Jackson",
    "Herry": "Herry Potter",
    "Peter": "Peter Jeson"
}

# look for person
person = "schmeedledrop"
print(people.get(person))

None

In [10]:
# CHanging the value of a key
people ={
    "htanaka": "Haru Tanaka",
    "PPatel": "Pyiya patal",
    "Zmin": "Zhang Min",
    "hajackson": "Hanna Jackson",
    "Herry": "Herry Potter",
    "Peter": "Peter Jeson"
}

# print hajakson's current value.
print(people["hajackson"])

# Change the value of the hajackson key.
people["hajackson"] = "Hanna Jackson-Smith"

# print the hajackson key to verify that the value has changed.
print(people["hajackson"])

Hanna Jackson
Hanna Jackson-Smith

In [26]:
# Adding or changing dictionar data

people ={
    "hrjackson": "Hanna Jackson",
    "Herry": "Herry Potter",
    "Peter": "Peter Jeson"
}

# change the value of the harjackson key.
people.update({"hrjackson" : "Henrietta jackson"})
print(people, '\n')

# Update the dictionary with a new key:value pair
people.update({"willy" : "Willy Smith"})

# show what's in the data dictionary now.
for person in people.keys():
    print(person + " = " + people[person])

{'hrjackson': 'Henrietta jackson', 'Herry': 'Herry Potter', 'Peter': 'Peter Jeson'}

hrjackson = Henrietta jackson
Herry = Herry Potter
Peter = Peter Jeson
willy = Willy Smith

In [27]:
#looping through a Dictionary

people ={
    "htanaka": "Haru Tanaka",
    "PPatel": "Pyiya patal",
    "Zmin": "Zhang Min",
    "hakackson": "Hanna Jackson",
    "Herry": "Herry Potter",
    "Peter": "Peter Jeson"
}

# look throuth .items to get the key and the value.

for key, value in people.items():
    # Show the key and value with = in between.
    print(key, ' = ', value)

htanaka  =  Haru Tanaka
PPatel  =  Pyiya patal
Zmin  =  Zhang Min
hakackson  =  Hanna Jackson
Herry  =  Herry Potter
Peter  =  Peter Jeson

In [47]:
# Dictionary method

# Copying a Dictionary
people ={
    "htanaka": "Haru Tanaka",
    "PPatel": "Pyiya patal",
    "Zmin": "Zhang Min",
}

# make a copy of the people dictionar and put it in peeps 2.
peeps2 = people.copy()

# show what's in both dictionaries
print(people)
print(peeps2)

#Deleting Dictionary Items
del peeps2["Zmin"]
print(f"When i delete Zmin on peeps2 show bellow {peeps2}")

# remove all data from peeps2 dictionary
peeps2.clear()
print(f"When i Use clear() method on peeps2 Dicts: {peeps2}")

# pop() zmin from the dictionary, store its value in adios variable.
adios = people.pop("Zmin")
print(f"When I use pop() method use clear but store in adios variable: {adios}")
print(f"When i use pop() method on people Dicts: {people}")

{'htanaka': 'Haru Tanaka', 'PPatel': 'Pyiya patal', 'Zmin': 'Zhang Min'}
{'htanaka': 'Haru Tanaka', 'PPatel': 'Pyiya patal', 'Zmin': 'Zhang Min'}
When i delete Zmin on peeps2 show bellow {'htanaka': 'Haru Tanaka', 'PPatel': 'Pyiya patal'}
When i Use clear() method on peeps2 Dicts: {}
When I use pop() method use clear but store in adios variable: Zhang Min
When i use pop() method on people Dicts: {'htanaka': 'Haru Tanaka', 'PPatel': 'Pyiya patal'}

In [52]:
# Having Fun with Multi-key Dictionary

employee = {
    'name': 'Kyaw sithu',
    'year_hired': 2005,
    'dob': 11/23/1987,
    'has_laptop': False
}

product = {
    'name': 'Ray-Ban Wayfarer Sunglesses',
    'unit_price': 112.99,
    'taxable': True,
    'in_stock': 10,
    'models': ['Black', 'Tortoise']
}

print('Name:    ', product['name'])
print('Price    ', f"${product['unit_price']:.2f}")
print('Taxable  ', product['taxable'])
print('In Stock ', product['in_stock'])
print('Models:')
for models in product['models']:
    print(" " * 10 + models)
    
# Note: the " " * 10 means print a space(" ") ten times.(indent ten spaces)

Name:     Ray-Ban Wayfarer Sunglesses
Price     $112.99
Taxable   True
In Stock  10
Models:
          Black
          Tortoise

In [75]:
# Dictionary formkey and setdefault method

# Create a generic dictionary for products name product.
product = {
    'name': '',
    'unit_price': 0,
    'taxable': True,
    'in_stock': 0,
    'models': []
}

# Create a dictionary for product SKU # DWC001
DWC001 = dict.fromkeys(product.keys())
DWC001.setdefault('taxable', True)
DWC001.setdefault('models',[])
DWC001.setdefault('reorder_point', 100)

# Show what's in the new dictionary
print('Dictionary after formkey() and setdefault()')
print(DWC001)

# change the taxable field from None to True
print("\nDictionary after fromkeys() and setdefault()")
DWC001['taxable'] = True
print(DWC001)

Dictionary after formkey() and setdefault()
{'name': None, 'unit_price': None, 'taxable': None, 'in_stock': None, 'models': None, 'reorder_point': 100}

Dictionary after fromkeys() and setdefault()
{'name': None, 'unit_price': None, 'taxable': True, 'in_stock': None, 'models': None, 'reorder_point': 100}

In [3]:
# Nesting dictionaries

#Creating a generic products dictionary to contain multiple product dictionaries.

"""
 ID(Key)  |     Name             |     Price        |      models
 ...........................................................................
 DB00111  | Ray-Ban Sunglesses   |   112.99         |  black, tortorise    |
 DW00231  | Drone with camera    |   89.99          |  white, brown        |
 EC02332  | Echo Dot             |   3.55           |                      |
 MT00993  | T-Shirt              |   88.33          |  small, medium, large|
............................................................................
"""

products = {
    'DB00111': {'name': 'Ray-Ban Sunglesses', 'price': 112.99, 'models': ['black', 'tortorise']},
    'DW00231': {'name': 'Drone with camera', 'price': 89.99, 'models': ['white', 'brown']},
    'EC02332': {'name': 'Echo Dot', 'price': 3.55, 'models': []},
    'MT00993': {'name': 'T-Shirt', 'price': 88.33, 'models': ['small', 'medium', 'large']}
}
# This header shows abve the output:
print(f"{'ID' :<10}   {'Name':<18}    {'Price':<14}    {'models'}")
print('-'*70) # prints 60 hyphens.

# Loop through each dictionary in the products dictionar
for oneproduct in products.keys():
    # Get the id of one product.
    id = oneproduct
    # Get the name of one product.
    name = products[oneproduct]['name']
    # Get unit price of one product and format with $
    unit_price = '$' + f"{products[oneproduct]['price']:>7,.2f}"
    # Create and empty string variable named models
    models = ''
    # Loop through the models list nad tack onto models
    # One item from the list followed by a comma and a space
    for m in products[oneproduct]['models']:
        models += m + ', '
    # If the models variable is more than two character in length,
    # peel off the last two characters (last comma and space).
    if len(models) >2:
        models = models[:-2]
    else:
        # Otherwise, if no models, show <none>.
        models = "<none>"
    # print all the variabls with a neat f-string.
    print(f"{id :<11}  {name:<20}  {unit_price:<16}  {models}")

ID           Name                  Price             models
----------------------------------------------------------------------
DB00111      Ray-Ban Sunglesses    $ 112.99          black, tortorise
DW00231      Drone with camera     $  89.99          white, brown
EC02332      Echo Dot              $   3.55          <none>
MT00993      T-Shirt               $  88.33          small, medium, large