In [12]:
print("Thank! i can\'t do any thing")
print("Mary's dog said \"Woof\".")
#print(Thank! i can't do any thing) syntexError
print("I'am kyaw sithu \nI'am 31 Year old \nMy greaduated on LLB")

Thank! i can't do any thing
Mary's dog said "Woof".
I'am kyaw sithu
I'am 31 Year old
My greaduated on LLB

In [21]:
#Formatting with f-strings

username = "Kyaw Si Thu"
print(f"Hello! {username}")

unit_price = 49.99
quantity = 30
print(f"Subtotal: ${unit_price * quantity}")
print(f"Subtotal: ${quantity * unit_price:,.2f}")
print(f"Subtotal: ${unit_price * quantity:,.3f}")

Hello! Kyaw Si Thu
Subtotal: $1499.7
Subtotal: $1,499.70
Subtotal: $1,499.700

In [24]:
#Formatting with percent numbers

salesTaxRate = 0.065
print(f"Sale Tax Rate: {salesTaxRate:.2%}")

Sale Tax Rate: 6.50%

In [26]:
#f-string can be encased in single, double, or triple quotation marks.

salesTaxRate = 0.065
sample1 = f'Sales Tax Rate {salesTaxRate:.2%}'
sample2 = f"Sales Tax Rate {salesTaxRate:.2%}"
sample3 = f"""Sales Tax Rate {salesTaxRate:.2%}"""
sample4 = f'''Sales Tax Rate {salesTaxRate:.2%}'''

print(sample1)
print(sample2)
print(sample3)
print(sample4)

Sales Tax Rate 6.50%
Sales Tax Rate 6.50%
Sales Tax Rate 6.50%
Sales Tax Rate 6.50%

In [27]:
#Making multiline format strings

user1 = "Kyaw"
user2 = "Nay"
user3 = "Aung"
output = f"{user1} \n{user2} \n{user3}"
print(output)

Kyaw
Nay
Aung

In [29]:
#A multiline f-string enclosed in triple quotation marks.

unit_price = 49.98
quantity = 32
sales_tax_rate = 0.056

subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal
total = subtotal + sales_tax
output = f"""
    Subtotal:  ${subtotal:,.2f}
    Sales Tax: ${sales_tax:,.2f}
    total:     ${total:,.2f}   
"""
print(output)

    Subtotal:  $1,599.36
    Sales Tax: $89.56
    total:     $1,688.92

In [32]:
#f format => right aligned and 9 characters wide. <9
#f format => left aligned and 9 characters wide. >9
# ^ = for centered aligned

unit_price = 49.98
quantity = 32
sales_tax_rate = 0.056

subtotal = quantity * unit_price
sales_tax = sales_tax_rate * subtotal
total = subtotal + sales_tax
output = f"""
    Subtotal:  ${subtotal:>9,.2f}
    Sales Tax: ${sales_tax:>9,.2f}
    total:     ${total:>9,.2f}   
"""
print(output)

    Subtotal:  $ 1,599.36
    Sales Tax: $    89.56
    total:     $ 1,688.92

In [36]:
# Numerical values

unit_price = 49.65
quantity = 32
sales_tax_rate = 0.065

subtotal = unit_price * quantity
sales_tax = sales_tax_rate * subtotal
total = subtotal + sales_tax

# Format amout to show as string with leading dollar sign.
s_subtotal = "$" + f"{subtotal:,.2f}"
s_sales_tax = "$" + f"{sales_tax:,.2f}"
s_total = "$" + f"{total:,.2f}"

#Output the string with dollar sign already attached
output = f"""
    Subtotal: {s_subtotal:>9}
    Sales Tax: {s_sales_tax:>8}
    Subtotal: {s_total:>9}
"""
print(output)

    Subtotal: $1,588.80
    Sales Tax:  $103.27
    Subtotal: $1,692.07

In [38]:
#Concatenating strings

F_name = "Alan"
M_name = "C"
L_name = "Simpson"
full_name = F_name + M_name + L_name
# with Concatenting String
full_Cname = F_name + " " + M_name + ". " + L_name
print(full_name)

print(full_Cname)

AlanCSimpson
Alan C. Simpson

In [1]:
# Length of a string

a = ""
b = " "
c = "A B C"
print(len(a))
print(len(b))
print(len(c))

0
1
5

In [ ]:
#Python Sequence Operators That Work with build-in Strings

s = "Abracadabra HOCUS Pocus you're a turtle dove"

#Is there a lowercase letter t is contained is s?
print("t" in s)
#Is there an uppercase T is contained in S?
print("T" in s)
#Is there no uppercase T in s?S
print("T" not in s)
#Print 15 hyphens in a row
print("." * 15)
#Print first characters in string x
print(s[0])
#Print characters 33 - 39 from string x
print(s[33:39])
#print every third character in s starting at zero
print(s[0:44:3])
#Print lowest character is s (a space is lower than the letter a)
print(min(s))
#Print the highest character is s
print(max(s))
# Where is the first uppercase p?
print(s.index("P"))
# Where is the first lowercase 0 in the latter half of string s
# Note that the returned value staill start counting from zero
print(s.index("o", 22, 44))
#How many lowercase latter a are in string s?
print(s.count("a"))

In [ ]:
# Page 152

In [ ]:
# Multipulating build-in string with method  
# string.methodname(params)

s1 = "There is no such word as schmeedledorp"
s2 = "   a b c   "
s3 = "ABC"
s4 = "On my way,This is the number of dot."

# Captoalize first letter, the rest lowercase
print(s3.capitalize())
#Count the number of space in s1
print(s1.count(" "))
#Find the dot in s4
print(s4.find("."))
#Is s2 all lowercase letters?
print(s2.islower())
#Convert s3 to all lowercase
print(s3.lower())
#String leading character form s2
print(s2.lstrip())
#Strung leading and trailing character form s2
print(s2.strip())
#Swap the case of letter in s1
print(s1.swapcase())
#Show s1 in title case (initial caps)
print(s1.title())
# Show s1 uppercase
print(s1.upper())

In [40]:
# Date and Time 
import datetime as dt
# Put today's date in today variable
today = dt.date.today()
# Put another date in military_croup
military_croup = dt.date(2021, 1, 1)

#see what's in each variable.

print(today)
print(military_croup)
print(military_croup.month)
print(military_croup.day)
print(military_croup.year)

2021-08-18
2021-01-01
1
1
2021

In [44]:
# Date and Time with format
import datetime as dt
# Put today's date in today variable
today = dt.date.today()
# Put another date in military_croup
military_croup = dt.date(2021, 1, 1)
todays_date = f"{today: %m/%d/%Y}"

print(f"{military_croup: %A, %B %d, %Y}")
print(todays_date)

 Friday, January 01, 2021
 08/18/2021

In [ ]:
# Note Sample Date format strings
# Format String                        Example
# %a, %b %d %Y                         Sat, Jun 01 2019
# %x                                   06/01/19
# %m-%d-%y                             06-01-19
# This %A %B %d                        This Staturday June 01
# %A %B %d is day number %j of %Y      Saturday June 01 is day number 152 of 2019
# %A %B at %I:%M%P                     Tuesday, December 31 at 11:59PM
# %m/%d/%y at %H:%M%P                  12/31/19 at 23:59
# %I:%M %P on %d                       11:59 PM on Dec 31
# %c                                   Tue Dec 31 23:59:00 2019
# %m/%d/%y at %I:%M %P                 12/31/19 at 11:59 PM
# %I:%M %P on %m/%d/%y                 1:59 PM on 12/31/2019

In [7]:
# Caculation age in year and months form a timedelta object

import datetime as dt
# Today's date according to your computer
today = dt.date.today()

# Any birthdate expressed as year, month, day
birthdate = dt.date(1987, 4, 6)

# Duration between the dates as a timedelta
delta_age = (today - birthdate)

#Duration between the dates as a number (of dats)
days_old = delta_age.days

# Floor divide days by 365 to get the number of years
years = days_old // 365

# Days left over is remainder of days_old dovided by 365.
# Floor divide that remainder by 30 for approximate months.
months = (days_old % 365) // 30

# print in a format to your liking
print(f"You are {years} years and {months} months old.")

You are 34 years and 4 months old.

In [21]:
# Working with Time Zones

# Get the datetime module and give it an alias 
import datetime as dt

# Get the time from computer clock
here_now = dt.datetime.now()

# Get the UTC datetime right now
utc_now = dt.datetime.utcnow()

# Subtract to see difference
time_difference = (utc_now - here_now)

# Show result

# print(f"My Time:{here_now:%I:%M %P}")
print(f"UTC Time   : {utc_now:%H:%M %P}")
print(f"Difference : {time_difference}")

ValueError: Invalid format string

In [23]:
# 

# import datetime, give it an alias
import datetime as dt
# import timezone helpers form dateutil
from dateutil.tz import gettz

# UTC time right now.
utc = dt.datetime.now(gettz('Etc/UTC'))
print(f"{utc:%A %D %I:%M %P %Z}")

ValueError: Invalid format string