In [4]:
# variable with escape character sequence "\n"

name = "Shelby"
age = 31
print("\nName: ", name , "\nAge: ", age)

Name:  Shelby
Age:  31

In [7]:
a = 4
b = 6.456
c = 3 + 2j
name, age, occupation = "Benjamin", 32, "Business Consultant"
country = "Canada"

print("a =", a)
print("b =", b)
print("c =", c)
print("\n\nName: ", name,
     "\nAge: ", age,
     "\nOccupation: ", occupation,
     "\nCountry: ", country,)

a = 4
b = 6.456
c = (3+2j)


Name:  Benjamin
Age:  32
Occupation:  Business Consultant
Country:  Canada

In [11]:
a = 2
b = 4
x = (a ** b)

print(x)

16

In [13]:
#Comparison Operators Demo
#Declare two variables

a = 126
b = 62
#Perform Relational Operations
print("\na = ", a , "b = ", b,
    "\na == b : ", a == b ,
    "\na != b : ", a != b ,
    "\na < b : ", a < b ,
    "\na > b : ", a > b ,
    "\na <= b : ", a <= b ,
    "\na >= b : ", a >= b
    )

a =  126 b =  62
a == b :  False
a != b :  True
a < b :  False
a > b :  True
a <= b :  False
a >= b :  True

In [14]:
#Bitwise Operators Demo
#Assign values to variables
x = 23
y = 29
#Display bitwise operation results
print ("\nx = ", x, " x (binary) = ", bin(x),
    "\ny = ", y, " y (binary) = ", bin(y),
    "\n~x = ", ~x, " ~x (binary) = ", bin(~x),
    "\n~y = ", ~y, " ~y (binary) = ", bin(~y),
    "\nx | y = ", x | y, " x | y (binary) = ", bin(x | y),
    "\nx & y = ", x & y, " x & y (binary) = ", bin(x & y),
    "\nx ^ y = ", x ^ y, " x ^ y (binary) = ", bin(x ^ y),
    "\nx >> 2 = ", x >> 2, " x >> 2 (binary) = ", bin(x >> 2),
    "\ny >> 4 = ", y >> 4, " y >> 4 (binary) = ", bin(y >> 4),
    "\nx << 3 = ", x << 3, " x << 3 (binary) = ", bin(x << 3),
    "\ny << 1 = ", y << 1, " y << 1 (binary) = ", bin(y << 1)
    )

x =  23  x (binary) =  0b10111
y =  29  y (binary) =  0b11101
~x =  -24  ~x (binary) =  -0b11000
~y =  -30  ~y (binary) =  -0b11110
x | y =  31  x | y (binary) =  0b11111
x & y =  21  x & y (binary) =  0b10101
x ^ y =  10  x ^ y (binary) =  0b1010
x >> 2 =  5  x >> 2 (binary) =  0b101
y >> 4 =  1  y >> 4 (binary) =  0b1
x << 3 =  184  x << 3 (binary) =  0b10111000
y << 1 =  58  y << 1 (binary) =  0b111010

In [ ]:
#Identity Operators Demo
#Initiate some variables

a = 3
b = -7.864
c = 15+23j
country = "Argentina"

#Identity operators like comparison operators

print ("\na is 3: ", (a is 3))
print ("\nb is 7.5: ", (b is 7.5))
print ("\na is not 5: ", (a is not 5))

#Display data type of all variables

print ("\n\ntype(a): ", type (a),
    "\n\ntype(b): ", type (b),
    "\n\ntype(c): ", type (c),
    "\n\ntype(country): ", type (country))

#Check whether a variable is of a certain type

print ("\n\ntype(a) is int: ", type(a) is int,
    "\n\ntype(b) is int: ", type(b) is int,
    "\n\ntype(c) is complex: ", type(c) is complex,
    "\n\ntype(country) is not float: ", type(country) is not float)

In [1]:
#User input, arithmetic operations
#Prompt the user to enter two numbers x, y

x_str = input ('Enter an integer: ')
y_str = input ('Enter another integer: ')

#Convert x_str and y_str from string to integer

x = int (x_str)
y = int (y_str)

#Perform Arithmetic operations, assign result to variables
#Calculate sum

sum = x + y

#Calculate difference
difference = x - y

#Calculate product
product = x * y

#Perform division
quotient = x / y

#Modulus
mod = x % y

#Perform floor division
floor_quotient = x // y

#Exponent
exp = x ^ y

#Display everything
print("\nx = ", x , "y = ", y,
"\nsum = ", sum ,
"\ndifference = ", difference ,
"\nproduct = ", product ,
"\nquotient = ", quotient ,
"\nremainder = ", mod ,
"\nquotient (floor value) = ", floor_quotient ,
"\nexponent = ", exp
)

Enter an integer: 8
Enter another integer: 9

x =  8 y =  9
sum =  17
difference =  -1
product =  72
quotient =  0.8888888888888888
remainder =  8
quotient (floor value) =  0
exponent =  1